* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#container {
    width: 20%;
    height: 33rem;
    margin-left: 40%;
    margin-top: 4rem;
    border: 4px solid black;
    background-color: #5a5656;
    border-radius: 15px;

}
#barreCalcul {
    width: 90%;
    height: 5rem;
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    display: block;
    margin-left: 5%;
    font-size: 2rem;
}

#chiffre {
    width: 100%;
    height: 20.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3.5rem;
}
button {
    font-size: 3rem;
    width: 20%;
    height: 5rem;
    background-color: black;
    border: 2px solid #ed2e2e;
    border-radius: 4px;
    color: white;
}
